.imageFormContainer {
  display: flex;
  justify-content: center;
  width: 35%;
  margin: auto;
  margin-top: 15%;
  padding:20px;
  border: 2px double rgb(216, 203, 203);
  border-radius: 20px;
}

.welcomeContainer {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  font-size: 24px;
  font-weight: 500px;
  font-family: 'Montserrat', sans-serif;
}

.imageFormSubmit{
  background-color: white;
  border: none;
  font-size: 18px;
  margin-top: 20px;
  margin-left: 3rem;
  font-family: 'Montserrat', sans-serif;
  background-image: linear-gradient(to right, #E61E4D 0%, #E31C5F 50%, #D70466 100%);
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  height: 50px;
  width: 370px;
}

.imageForm span {
  font-size: 15px;
  margin-right: 5px ;
  width: 15%;
}

.imageForm label {
  display: flex;
  padding: 2px;
  font-family: 'Montserrat', sans-serif;
}


@media only screen and (max-width: 600px) {
  .imageFormContainer  {
    width: 120%;
    margin-left: 9px;
  }
}
