.imagePageContainer {
  display: flex;
  margin: 3% 10% 20% 10%;
  flex-direction: row;
  height: 20%;
  flex-direction: row;
  /* align-items:; */
}

.imagePage-grid {
  --gap: 20px;
  --num-cols: 2;
  --row-height: 400px;
  width: 100%;
  height: 15%;

  box-sizing: border-box;
  padding: var(--gap);

  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-auto-rows: var(--row-height);
  gap: var(--gap);

}

.imagePage-grid > img {
  width: 50%;
  height: 60%;
  object-fit: fill;
  position: absolute;
  border-radius: 1%;
}

.imagePage-grid> img:hover {
 filter: brightness(.7);
 transition: .25s;
}

.spotPreviewImage {
  border-radius: 2%;
}

.deleteButton {
  position: relative;
  grid-row: span 2;
}

/* Back button */
.backButton {
  background-color: white;
  border: none;
  font-size: 18px;
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif;
  background-image: linear-gradient(to right, #E61E4D 0%, #E31C5F 50%, #D70466 100%);
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  height: 40px;
  width: 150px;
}
/*
.deleteButton {
  position: absolute;
} */
