@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

/* Spot title and top description */
.nameDetail {
  font-size: 26px;
  display: flex;
  justify-content:flex-start;
  align-items: center;
  font-family: 'Montserrat', sans-serif;;
  margin-bottom: 0px;
  font-style: normal;
  font-weight: 460;
}

.detailContainer {
  margin: 20px auto 0 auto;
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 15px;
}

.containerBorder {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: auto auto 0 30px;
  width: 100%;
}

.topText {
  margin-top: 0px;
  margin-left: -2%;
}

.reviewTopDescription {
  text-decoration: underline;
}

.topDescription {
  margin-left: 2%;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 600;
}

/* Image grid (work in progress) */
.image-grid {
  --gap: 10px;
  --num-cols: 4;
  --row-height: 300px;

  box-sizing: border-box;
  margin-left: -2%;
  padding: var(--gap);

  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-auto-rows: var(--row-height);
  gap: var(--gap);
}

.image-grid > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-grid > img:hover {
 filter: brightness(.7);
 transition: .25s;

}

.image-grid-col-2 {
  grid-column: span 2;
  border-top-left-radius: 2%;
  border-bottom-left-radius: 2%;
}

.image-grid-row-2 {
  grid-row: span 2;
}

.top-right-image {
  border-top-right-radius: 5% ;
}

.bottom-left-image {
  border-bottom-right-radius: 5%;
}

/* .imageDetail {
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  width: 450px;
  height: 350px;
  background-size: cover;
  border-radius: 33px;
  margin-top: 0px;
  margin-bottom: 2rem;
} */

/* Description section */

.descriptionSection{
  font-family: 'Montserrat', sans-serif;
  font-size: 19px;
  padding-bottom: 20px;
  border-bottom: 2px double rgb(216, 203, 203);
  font-weight: 500;
  width: 60%;
}

.spotDetailDescription {
  margin-right: 30px;
  padding: 20px;
}

#Description {
  display: flex;
  flex-direction: wrap;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 80px;
  font-family: 'Montserrat', sans-serif;
}

/*  Booking box */
.bookingBox {
  width: 30%;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 12px;
  padding: 24px;
  box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
}

.bookingPriceContainer {
  display: flex ;
  flex-flow: row wrap ;
  justify-content: space-between ;
  align-items: baseline ;
  margin-bottom: 24px ;
  font-family: 'Montserrat', sans-serif;
}

.priceDetail > span {
  font-size: 20px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}


.spotButtons {
  display: flex;
  justify-content: center;
}

/* Review section */
.reviewSection {
  border-top: 2px double rgb(216, 203, 203);
  font-family: 'Montserrat', sans-serif;
}

.eachReview {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  background-color: white;
  border: 2px double rgb(216, 203, 203);
  font-family: 'Montserrat', sans-serif;
  color: black;
  border-radius: 10px;
  margin: 10px;
  margin-left: 100%;
  padding: 10px;
  width: 75%;
}

.reviewMessage{
  font-size: 14px;
}

.reviewStars {
  font-size: 15px;
  font-style: normal
}

.reviewDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;

}

.createReviewButton {
  align-self: center;
  background-color: white;
  border: none;
  font-size: 18px;
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif;
  background-image: linear-gradient(to right, #E61E4D 0%, #E31C5F 50%, #D70466 100%);
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  font-weight: 450;
  height: 42px;
  margin: 10px;
  width: 100px;
}

/* 404 message if spot does not exist */
.fourOhFour {
 font-size: 40px;
}

/* Testing media queries */
@media only screen and (max-width: 600px) {

  .image-grid {
    --num-cols: 2;
    --row-height: 200px;
    width: 120%;
  }

  .nameDetail {
    width: 120%;
  }
  .detailContainer {
    width: 100%;
  }
  .descriptionSection{
    width: 100%;
    margin-left: 2rem;
  }
  #Description {
    width: 120%;
    margin-left: 2rem;
  }

  .bookingPriceContainer > .reviewDiv {
    display: none;
  }

  .reviewSection {
    width: 100%;
    margin-left: 2rem;
  }

  .reviewDiv {
    width: 100%;
    margin-left: 2rem;
  }

  .eachReview {
    margin-left: 1rem;
  }
  .createReviewButton {
    margin-left: 4rem;
  }
}
