
.spotImg {
    height: 250px;
    flex-wrap: wrap;
}

.spotsPage {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;

}

.spotImg {
    float: left;
    width: 360px;
    height: 300px;
    background-size: cover;
    border-radius: 33px;
    margin: 1rem;
    margin-left: 5px ;
}
.spotName {
    padding-right: 20px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 600;

}
.spotLocation {
    font-weight: normal;
    color: gray;
}

.spotAddress{
    text-decoration: underline;
    color: gray;
    margin-left: 2rem;
}
.spotDetails {
    font-style: italic;
    font-size: 15px;
    color: gray;
    margin-top: 2px;
    margin-bottom: 10px;

}

.spotPrice span {
    font-style: normal;
}
a:link {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.eachSpotDetail {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 1rem;
}

.eachSpotDetail p:not(.spotDetails) {
    margin: 2px
}

/* .eachSpotDetail p:not(.spotImg) {
    margin-left: 15px;
} */


.eachSpot {
  background-color: white;
  /* border: 2px double rgb(216, 203, 203); */
  font-family: 'Montserrat', sans-serif;
  color: black;
  border-radius: 20px;
  margin: 10px;
  /* text-align: center; */

}
