@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


.detailContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  /* margin: 10px; */
  padding: 10px;
  /* width: 50%; */

}

.containerBorder {
  display: flex;
  flex-direction: column;
  border: 2px double rgb(216, 203, 203);
  padding: 2rem;
  border-radius: 10px;
  width: 60%;
  margin-bottom: 2rem;

}


.imageDetail {
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  width: 450px;
  height: 350px;
  background-size: cover;
  border-radius: 33px;
  margin: 2rem;
  position:static;
}

#Description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 7rem;
  margin-left: 2rem;
  font-family: 'Montserrat', sans-serif;

}

#Description > p {
  margin-left: 12px;
  margin-right: 5px;
}

#Description > .spotDetailAddress {
  text-decoration: underline;
}

#Description > .spotDetailPrice {
  font-weight: 550;
}

#Description > .spotDetailPrice > .priceDetail {
  font-weight: normal;
}

#Description > .spotDetailDescription {
  font-style: italic;
  font-size: 15px;
}

.nameDetail {
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;;
  margin-top: 20px;
  font-style: normal;
  font-weight: 460;
}

.fourOhFour {
 font-size: 40px;
}

.spotButtons {
  display: flex;
  justify-content: center;
}

.spotButtons > button {
  margin: 15px;
}
div#Description{
 border: 2px double rgb(216, 203, 203);
}


.eachReview {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  background-color: white;
  border: 2px double rgb(216, 203, 203);
  font-family: 'Montserrat', sans-serif;
  color: black;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  width: 50%;
}

.reviewMessage{
  font-size: 14px;
}

.reviewStars {

  font-style: oblique;
}

.reviewDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
