@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


.detailContainer {
  margin: 20px auto 0 auto;
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 15px;
}

.containerBorder {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: auto auto 0 30px;
  width: 100%;
}

.topText {
  margin-top: 0px;
}

.topDescription {
  padding-right: 20px;
  /* margin-top: 10px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 600;
}

.imageDetail {
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  width: 450px;
  height: 350px;
  background-size: cover;
  border-radius: 33px;
  /* margin: 2rem; */
  margin-top: 0px;
  margin-bottom: 2rem;


}

.descriptionSection{
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  padding-bottom: 20px;
  border-bottom: 2px double rgb(216, 203, 203);
  font-weight: 500;
  width: 60%;
}

#Description {
  display: flex;
  flex-direction: wrap;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 80px;
  font-family: 'Montserrat', sans-serif;



}

/* #Description > p {
  margin-left: 12px;
  margin-right: 5px;
}

#Description > .spotDetailAddress {
  text-decoration: underline;
}

#Description > .spotDetailPrice {
  font-weight: 550;
}

#Description > .spotDetailPrice > .priceDetail {
  font-weight: normal;
}

#Description > .spotDetailDescription {
  font-style: italic;
  font-size: 15px;
} */

.nameDetail {
  font-size: 40px;
  display: flex;
  justify-content:flex-start;
  align-items: center;
  font-family: 'Montserrat', sans-serif;;
  /* margin-top: 20px; */
  margin-bottom: 0px;
  font-style: normal;
  font-weight: 460;
}

.bookingBox {
  width: 20%;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 12px;
  padding: 24px;
  box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
}

.bookingPriceContainer {
  display: flex ;
  flex-flow: row wrap ;
  justify-content: space-between ;
  align-items: baseline ;
  margin-bottom: 24px ;
  font-family: 'Montserrat', sans-serif;
}

.priceDetail > span {
  font-family: 'Montserrat', sans-serif;
}

.fourOhFour {
 font-size: 40px;
}

.spotButtons {
  display: flex;
  justify-content: center;
}

/* .spotButtons > button {
  background-color: white;
  border: none;
  font-size: 18px;
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif;
  background-image: linear-gradient(to right, #E61E4D 0%, #E31C5F 50%, #D70466 100%);
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  font-weight: 450;
  height: 42px;
  margin: 10px;
  width: 100px;

} */


.reviewSection {
  border-top: 2px double rgb(216, 203, 203);
  font-family: 'Montserrat', sans-serif;

}

.eachReview {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  background-color: white;
  border: 2px double rgb(216, 203, 203);
  font-family: 'Montserrat', sans-serif;
  color: black;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  width: 50%;
}

.reviewMessage{
  font-size: 14px;
}

.reviewStars {
  font-size: 15px;
  font-style: normal
}

.reviewDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.createReviewButton {
  align-self: center;
  background-color: white;
  border: none;
  font-size: 18px;
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif;
  background-image: linear-gradient(to right, #E61E4D 0%, #E31C5F 50%, #D70466 100%);
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  font-weight: 450;
  height: 42px;
  margin: 10px;
  width: 100px;
}
